.errorMessage {
    margin-bottom: 10px;

    p {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
        color: rgb(248, 64, 64);
        margin-right: 50px;
    }

    .errorIcon {
        margin-right: 50px;
    }
}