.App {
  text-align: center;
  margin: 0 auto;
}

main {
  .mainContent {
    display: flex;

    .mainContentRight {
      width: 75%;
      transition: 3s;

      h4 {
        margin-top: 10px;
        border-top: 2px solid rgb(70, 145, 216);
        padding-top: 10px;
      }
    }

    .mainContentRightCloseMenu {
      width: 100%;
    }
  }
}