.resultSearch {
    font-size: 18px;
    font-weight: 600;
    text-align: left;

    pre {
        overflow-y: hidden;
    }

    .error {
        overflow: hidden;
        font-size: 20px;
        color: rgb(228, 8, 8);
        text-align: center;
    }

    .btnShowCatalog {
        margin-bottom: 20px;
        border-radius: 10px;
        border: 2px solid #000;
        padding: 10px;
        background-color: #FFF;
        font-size: 18px;
        font-weight: 600;
        margin-right: 20px;
    }
    .btnShowCatalog:hover {
        background-color: rgb(233, 232, 232); 
    }

    .tableHidden {
        display: none;
    }

    .cEMZEX {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        border-radius: 15px 15px 0 0;
    }

    .jxflYm {
        border-radius: 0 0 15px 15px;
        margin-bottom: 100px;
        justify-content: center;
        font-size: 16px;
        color: #000;
    }
    
    .bnAwAJ {
        font-size: 16px;
    }
}