.navBar {
  background-color: #FFF;
  box-shadow: -10px 4px 24px rgb(0 0 0 / 10%);
  min-width: 20%;

  .list-group {
    padding-bottom: 15px;
    animation-name: open;
    animation-duration: .2s;
  }

  .closeNavBar {
    display: none;
  }

  .dashBoard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(70, 145, 216);
    padding: 15px;
    margin-bottom: 10px;

    h3 {
      font-size: 25px;
      font-weight: 700;
      color: #fff;
      text-shadow: 1px 1px #000;
    }

    img {
      cursor: pointer;
      width: 30px;
      transition: 1s;
    }

    img:active {
      transform: rotate(-3turn);
      transition: 0.001s;
    }
  }

  .list-group-item {
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    text-align: left;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 30px;
    margin-right: 80px;
    transition: .2s;
  }

  .active {
    transition: .2s;
    transform: scale(1.1);
    border-radius: 5px;
    color: #FFF;
  }
}

.navBarRelatedQueries {
  background-color: rgb(70, 145, 216);

  .dashBoard {
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px 0px;

    h3 {
      font-size: 25px;
      font-weight: 700;
      color: #fff;
      text-shadow: 1px 1px #000;
    }

    img {
      cursor: pointer;
      width: 30px;
      transition: 1s;
      margin-left: 20px;
    }

    img:active {
      transform: rotate(-3turn);
      transition: 0.001s;
    }
  }

  .listQueries {
    display: flex;
    justify-content: center;

    .list-queries-item {
      color: #FFF;
      font-size: 20px;
      font-weight: 500;
      padding: 0 5px;
      margin: 0 5px 10px 5px;
      padding-bottom: 7px;
      transition: 0.1s;
    }

    .list-queries-item:hover {
      color: rgb(201, 201, 201);
    }

    .active {
      color: #000;
      font-weight: 700;
      padding-bottom: 5px;
      border-bottom: 2px solid #000;
      transition: .3s;
    }
  }
}
