.navBar {
  background-color: #FFF;
  box-shadow: -10px 4px 24px rgb(0 0 0 / 10%);
  width: 25%;
  transition: .2s;
  margin-right: 0;
  animation-duration: .2s;
  animation-name: slidein;

  .list-group {
    padding-bottom: 15px;
    animation-name: open;
    animation-duration: .2s;
  }

  .dashBoard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(70, 145, 216);
    padding: 15px;
    margin-bottom: 10px;

    h3 {
      font-size: 25px;
      font-weight: 700;
      color: #fff;
      text-shadow: 1px 1px #000;
    }

    img {
      cursor: pointer;
      width: 30px;
      transition: 1s;
    }

    img:active {
      transform: rotate(-3turn);
      transition: 0.001s;
    }
  }

  .list-group-item {
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    text-align: left;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 30px;
    margin-right: 80px;
    transition: .2s;
  }

  .active {
    transition: .2s;
    transform: scale(1.1);
    border-radius: 5px;
    color: #FFF;
  }
}

@keyframes slidein {
  from {
    margin-left: -200px;
  }

  to {
    margin-left: 0;
  }
}

.closeNavBar {
  display: none;
}

.navBarRelatedQueries {
  background-color: rgb(70, 145, 216);

  .dashBoard {
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px 0px;

    h3 {
      font-size: 25px;
      font-weight: 700;
      color: #fff;
      text-shadow: 1px 1px #000;
    }

    img {
      cursor: pointer;
      width: 30px;
      transition: 1s;
      margin-left: 20px;
    }

    img:active {
      transform: rotate(-3turn);
      transition: 0.001s;
    }
  }

  .listQueries {
    display: flex;
    justify-content: center;

    .list-queries-item {
      color: #FFF;
      background-color: rgb(241, 131, 28);
      font-size: 20px;
      font-weight: 500;
      padding: 5px 10px;
      margin: 0 5px 10px 5px;
      transition: 0.1s;
      border-radius: 8px;
    }

    .list-queries-item:hover {
      background-color: rgb(219, 116, 20);
    }
  }
}