.list-group {
    min-width: 400px;
    border-radius: 10px;
    text-align: left;

    .list-group-item {
        cursor: pointer;
        min-height: 50px;
        font-size: 20px;
        font-weight: 600;
        border: 1px solid rgb(110, 108, 108);
    }

    .list-group-item:hover {
        border: 2px solid rgb(110, 108, 108);
    }

    .active {
        background: linear-gradient(180deg,#0a91eb,#57b3d5,rgb(41, 118, 146));
        color: #FFF;
        border: none;
    }
}