.resultWrapper {
  margin: 0 30px 20px 20px;
  transition: .3s;

  pre {
    text-align: left;
    padding: 10px;
  }

  .showData, .hideData {
    max-width: 40px;
    cursor: pointer;
    display: block;
  }
  
  .tableHeader {
    .search {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    input {
      border: 0;
      padding: 10px;
      padding-right: 30px;
      outline: none;
    }

    .clearInput {
      position: absolute;
      right: 0;
      padding-right: 20px;
      font-weight: 700;
      font-size: 20px;
      cursor: pointer;
    }
  }


  .accordion {
    max-width: 100%;

    .accordion-item {
      border: none;
      border-bottom: 1px solid rgba(0,0,0,.125);
      animation-duration: .8s;
      animation-name: showData;
    }

    @keyframes showData {
      from {
          margin-right: 700px;
      }
  
      to {
        margin-right: 0;
      }
  }

    .accordion-header {
      button {
        color: #000;
      }

      button:hover {
        background-color: #b1cffc;
      }
    }
  }

  .hiddenAccordion {
    display: none;
  }
}